.title h3 {
    color: rgb(112, 112, 42);
}

.title h1 {
    color: gray;
}

.title {
    border-bottom: 2px solid rgb(112, 112, 42);
    margin: 2em;
}

.inscrire {
    display: flex;
    /* border: 3px solid red; */
    height: 88vh;
    justify-content: space-evenly;
    /* margin: 2em; */
    width: 70%;
    margin-left: 8em;
    background-color: white;
    /* padding-bottom: 2em; */
}

.title-form {
    /* border: 2px solid teal; */
    width: 60%;
    height: 45vw;
}

.identifiant {
    /* border: 2px solid rebeccapurple; */
    width: 30%;
}

#utlisateurs {
    /* background-color: aqua; */
    /* background-image: url('../img/img-bg.jpg'); */
    background-size: cover;
    padding-bottom: 3em;
    height: 90vh;
}


/* 
input {
    border: 2px solid rebeccapurple;
} */


/* .form {
    margin: 2em;
} */

.logo-inscrit {
    display: flex;
    height: 20vh;
    margin-left: 30%;
    margin-top: 2em;
    width: 10vw;
    border-radius: 50%;
    border: 9px solid rgb(23, 174, 194);
}

.identifiant h3 {
    text-align: center;
}

input {
    border: 2px solid rgb(196, 198, 209);
    /* font-size: 3em; */
}

.fichier {
    display: flex;
    justify-content: space-around;
}

.connect-inscrit {
    display: flex;
    justify-content: space-between;
    align-items: center;
}